* {
  margin: 0;
  padding: 0;
}

.mui-bar-nav {
  border-bottom: 0px   transparent solid;
}

.PersonalInfoList {
  margin-top: 0.2rem;
}

.PersonalInfoList li {
  background-color: #fff;
  padding: 0 0.25rem;
}

.PersonalInfoList li a {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.01rem  #DCDCDC  solid;
  padding: 0.25rem  0;
}

.PersonalInfoList li a span {
  white-space: nowrap;
  font-size: 0.3rem;
  color: #333;
}

.PersonalInfoList li a span img {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 0.1rem;
}

.PersonalInfoList li a div {
  display: flex;
  align-items: center;
}

.PersonalInfoList li a div span {
  white-space: normal;
  color: #828282;
  margin-left: 0.2rem;
  font-size: 0.26rem;
  line-height: initial;
}

.PersonalInfoList li:last-child a {
  border-bottom: 0px   transparent solid;
}
